<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./snippets/header.ejs')  %> 

    <title>Xpresscoins | World Best Mining Company</title>

</head>
<body>

    <!-- Navigation -->
    <%- include('./snippets/navigation.ejs')  %> 
    <!-- End navigation -->

       <!-- Start Feature Area -->
       <div class="feature section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Xpresscoins Live</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s"> Pool Statistic</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            Xpresscoins pool offers miners the flexibilities to earn rewards regularly, 
                            even if their individual computing power is relatively low.
                            Our mining pools help minimize the impact of mining difficulty 
                            fluctuations, ensuring a steadier income stream.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="/images/features/database.gif" alt="">
                        </div>
                        <h4 class="text-title">MINING POOL</h4>
                        <p class="">
                            Join the mining pool by activating any of the packages.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="/images/features/bitcoin.gif" alt="">
                        </div>
                        <h4 class="text-title"> STAKING PROMO</h4>
                        <p class="">
                            Depending on the computation hash, staking promo will be release for 
                            more rewards.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="/images/features/server.gif" alt="">
                        </div>
                        <h4 class="text-title">REINVESTMENT EARNING</h4>
                        <p class="">
                            You continue earning eward through our reinvestment feature
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature-box">
                        <div class="tumb">
                            <img src="/images/features/wallet.gif" alt="">
                        </div>
                        <h4 class="text-title">WALLET INTEGRATION</h4>
                        <p class="">
                            With our cool security features, you can store your asset without any fear.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Area -->




    <!-- Start Footer Area -->
    <%- include('./snippets/footer.ejs')  %> 
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <%- include('./snippets/scripts.ejs')  %> 

    <!-- Live chat -->
    <%- include('./snippets/live_chat.ejs') %>

    
</body>
</html>