<!doctype html>
<html lang="en">
  <head>
   
    <!-- Include the header -->
    <%- include('../snippets/meta_data.ejs')  %> 

    <title>Xpresscoins | World Best Mining Company</title>
    
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    
    <!-- Icon CDN -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Data table cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
   
  </head>
  <body>
    
    <!-- Include navbar -->
    <%- include('../snippets/main_navbar.ejs') %> 

    <div class="container-fluid" >
      <div class="row">

        <% var context; %> 

        <!-- Include sidebar -->
        <%- include('../snippets/sidebar.ejs') %> 
            <!-- First row -->
            <div class="table-responsive row card-stat p-4">
              <div class="text-warning">
                <a href="/account/view-plan" class="btn btn-outline-warning btn-sm">View registered plans</a>
              </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
                    <h5 class="text-center text-dark h6">Register Plan</h5>

                    <form id="add_plan_form">
                        <div class="col mb-3">
                            <label class="text-dark">Title (can't be edited once added)</label>
                            <input type="text" name="title" class="form-control " placeholder="Plan Title" >
                            <div class="text-danger mt-2" id="titleErr"></div>
                        </div>

                        <div class="col mb-3">
                            <label class="text-dark">Daily profit (in percentage)</label>
                            <input type="text" name="profit" class="form-control" placeholder="5.2" >
                            <div class="text-danger mt-1" id="profitErr"></div>
                        </div>

                        <div class="col mb-3">
                            <label class="text-dark">Duration in days (eg. 15)</label>
                            <input type="text" name="duration" class="form-control " placeholder="Duration" >
                            <div class="text-danger mt-1" id="durationErr"></div>
                        </div>

                        <div class="col">
                            <label class="text-dark">Activation amount</label>
                            <input type="text" name="activation" class="form-control " placeholder="300-1800" >
                            <small class="text-muted">Minimum-Maximum</small>
                            <div class="text-danger mt-1" id="activationErr"></div>
                        </div>
                        
                        <div class="text-center mt-4 mb-3"> 
                            <button type="submit" 
                            class="btn btn-outline-warning btn-md">Save Plan</button> 
                        </div>
                    </form>

                    
                </div>
        </main>
      </div>
    </div>


    <!-- Include toast -->
    <%- include('../snippets/toast.ejs') %>

    <!-- Include the scripts -->
    <%- include('../snippets/scripts.ejs') %>

    <!-- INitialized feather CDN -->
    <script>
      feather.replace()
    </script>

   <!-- Link the submit handler -->
   <script src="/scripts/post_plan.js"></script>


  </body>
</html>
