<!doctype html>
<html lang="en">
  <head>
   
    <!-- Include the header -->
    <%- include('../snippets/meta_data.ejs')  %> 

    <title>Xpresscoins | World Best Mining Company</title>
    
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    
    <!-- Icon CDN -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Data table cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
   
  </head>
  <body>
    
    <!-- Include navbar -->
    <%- include('../snippets/main_navbar.ejs') %> 

    <div class="container-fluid" >
      <div class="row">

        <% var context; %> 

        <!-- Include sidebar -->
        <%- include('../snippets/sidebar.ejs') %> 
            <h5 class="text-start h6 text-center">Wallet Address</h5>
            <!-- First row -->
            <div class="table-responsive row card-stat p-4 card-stat">
              <div class="text-warning">
                <a href="/account/view-wallet-address" class="btn btn-warning">View Wallets</a>
              </div>

                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">

                    <form id="add_wallet_form">
                        <div class="col mb-5">
                            <select name="currency" class="form-select" required>
                              <option value="">Select Currency</option>
                              <option value="BTC">Bitcoin</option>
                              <option value="USDT">Tether USD</option>
                              <option value="ETH">Ethereum</option>
                            </select>
                            <div class="text-danger mt-2" id="currencyErr"></div>
                        </div>

                          <div class="col">
                            <input type="text" name="wallet_address" class="form-control " placeholder="Enter Wallet address" >
                            <div class="text-danger mt-2" id="walletErr"></div>
                          </div>
                        
                        <div class="text-center mt-4 mb-3">
                          <button type="submit" class="btn btn-outline-warning btn-md">
                            Save Wallet
                          </button> 
                        </div>
                    </form>
                </div>
        </main>
      </div>
    </div>


    <!-- Include toast -->
    <%- include('../snippets/toast.ejs') %>

    <!-- Include the scripts -->
    <%- include('../snippets/scripts.ejs') %>

    <!-- Icon CDN -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- INitialized feather CDN -->
    <script>
      feather.replace()
    </script>

   <!-- Link the submit handler -->
   <script src="/scripts/wallet_address.js"></script>


  </body>
</html>
