<!doctype html>
<html lang="en">
  <head>
   
    <!-- Include the header -->
    <%- include('../snippets/meta_data.ejs')  %> 

    <title>Xpresscoins | World Best Mining Company</title>
    
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    
    <!-- Icon CDN -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Data table cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
  
  </head>
  <body>
    
    <!-- Include navbar -->
    <%- include('../snippets/main_navbar.ejs') %> 

    <div class="container-fluid" >
      <div class="row">

        <% var context; %> 

       
        <!-- Include sidebar -->
        <%- include('../snippets/sidebar.ejs') %> 
            <h5 class="text-start h6 text-center">Members</h5>
            <!-- First row -->
            <div class="table-responsive row card-stat p-4">
                <table class="table table-hover table-sm" id="user_table">
                    <thead>
                        <tr>
                            <th scope="col">S/n</th>
                            <th scope="col">Full name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Make Admin</th>
                            <th scope="col">Remove Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% if (context.users) { %>
                       <% let count = 0 %> 

                       <% context.users.forEach(user => { %>

                          <% count = count + 1; %> 

                          <tr>
                            <td><%= count %> </td>
                            <td><%= user.full_name %> </td>
                            <td><%= user.email %> </td>
                            
                            <!-- Check if the user is an admin or not -->

                            <% if (!user.isAdmin) { %>
                              <td id="create_admin">
                                <a class="btn btn-success btn-sm" 
                                href="/account/create-admin?user_id=<%= user._id %>">
                                Add</a>
                              </td>
                              <% } else { %>
                                <td></td>
                              <% } %>


                            <% if (user.isAdmin === true) { %>
                              <td><a class="btn btn-danger btn-sm" 
                                href="/account/remove-admin?user_id=<%= user._id %>">
                                Remove</a>
                              </td>
                              <% } else { %>
                               <td></td>
                              <% } %>
                              
                          </tr>

                       <% }) %>
                      <% } %>
                       
                    </tbody>
                </table>
        </main>
      </div>
    </div>

    <!-- Include toast -->
    <%- include('../snippets/toast.ejs') %>

    <!-- Include the scripts -->
    <%- include('../snippets/scripts.ejs') %>

    <!-- Icon CDN -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <!-- INitialized feather CDN -->
    <script>
      feather.replace()
    </script>


<% if (context.error) { %>
  <script>
    
      $(document).ready(() =>{
        $('.toast-body').html('<%= context.error %>');
          $('.toast').css('background-color', 'red');
          $('.toast').toast('show');
      });

      setInterval(() => {
        window.location.href = '/account/home';
      }, 3000);
  </script>
<% } %>

<% if (context.success) { %>
  <script>
      $(document).ready(() =>{
        $('.toast-body').html('<%= context.success %>');
          $('.toast').css('background-color', 'rgb(13, 152, 186, .8)');
          $('.toast').toast('show');
      });

      setInterval(() => {
        window.location.href = '/account/home';
      }, 3000);
  </script>
<% } %>


     <!-- Data table CDN initialisation-->
     <script>
        $(document).ready( function () {
            $('#user_table').DataTable();
        } );
    </script>
  </body>
</html>
